{% extends 'pagesbase.html' %}

{% block body %}
<form id="filter" method="POST" action='#'>
    <textarea rows="1" cols="100" name="filter_data" id="filter_data" placeholder="{{filter}}"></textarea>
    <input type="submit" value="Filter" class="btn btn-primary">
    <button type="button" id = "export" class="btn btn-primary">Export</button>
    <button type="button" id = "plot" class="btn btn-primary">Plot</button>
</form>
<div><p id="alertMessage"></p></div>
<div><p id="log"></p></div>
{{ pagination.info }}
{{ pagination.links }}
<div class="table-responsive">
  <table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>id</th>
      <th>time</th>
      <th>logger</th>
      <th>level</th>
      <th>message</th>
    </tr>
  </thead>
  <tbody>
    {% for page in pages %}
      <tr>
        <td>{{ loop.index + (pagination.page-1)*pagination.per_page }}</td>
        <td>{{ page.id }}</td>
        <td>{{ page.time}}</td>
        <td>{{ page.logger }}</td>
        <td>{{ page.level}}</td>
        <td style="text-overflow: ellipsis;">{{ page.message}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{{ pagination.links }}
{% endblock %}

{% block js %}
$(document).ready(function(){

  ///////////////////////////////
  function generateAlert(msg, type="success"){
    var words = '<div class="alert alert-' + type  + ' alert-dismissible">' +
                '<button type="button" class="close" data-dismiss="alert">&times;</button> ' +
                 msg + '</div>';
          return words;
  }
 ///////////////////////////////

  var qid   = "{{qid}}";

  $('.progress-bar').hide();
  var add   = false;
  var namespace = '/test';
  var endPoint = "http" + (self.location.protocol == "https:" ? "s" : "") +
                 "://"  + document.domain + ':' + location.port + namespace;
  var socket   = io.connect(endPoint);

  socket.on('connect', function() {
      socket.emit('my event', {sid: socket.io.engine.id, data: 'I\'m connected! (' + socket.io.engine.id + ')'});
  });
  socket.on('disconnect', function() {
      //$('#log').append('<br>Disconnected');
  });

  socket.on('alert message', function(msg) {
      $('#alertMessage').append(generateAlert(msg.data));
  });

  $('#export').on('click', function(event){
      console.log ('export button click().');
      $('#log').append( generateAlert('export button clicked: with qid: ' + qid) );
      socket.emit('export db', {qid: qid});
    });

  $('#plot').on('click', function(event){
        console.log ('plot button click().');
        $('#log').append( generateAlert('plot button clicked: with qid: ' + qid) );
        $('#plot').attr("class", "btn btn-warning disabled");
        $('#plot').text('plotting');
        socket.emit('queryplot request', {qid: qid});
    });

  socket.on('dbplotReady', function(msg){
      $('#alertMessage').append(generateAlert(msg.data));
      $('#plot').attr("class", "btn btn-primary enabled");
      $('#plot').text('plot');
  });

  socket.on('pushFile', function (msg) {
    saveAs(new Blob([msg['data']]), 'Export.csv');
    $('#log').append( generateAlert('Saved as "Export.csv"') );
  });

});

{% endblock %}
