{% extends 'pagesbase.html' %}

{% block body %}
<form id="filter" method="POST" action='#'>
  <!--
    <input type="text" name="filter_data" id="filter_data" placeholder="{{filter}}" size="100">
  -->
    <textarea rows="1" cols="100" name="filter_data" id="filter_data" placeholder="{{filter}}"></textarea>
    <input type="submit" value="Filter">
</form>
{{ pagination.info }}
{{ pagination.links }}
<div class="table-responsive">
  <table class="table table-hover">
  <thead>
    <tr>
      <th>#</th>
      <th>id</th>
      <th>time</th>
      <th>logger</th>
      <th>level</th>
      <th>message</th>
    </tr>
  </thead>
  <tbody>
    {% for page in pages %}
      <tr>
        <td>{{ loop.index + (pagination.page-1)*pagination.per_page }}</td>
        <td>{{ page.id }}</td>
        <td>{{ page.time}}</td>
        <td id="div2">{{ page.logger }}</td>
        <td>{{ page.level}}</td>
        <td style="text-overflow: ellipsis;">{{ page.message}}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{{ pagination.links }}
{% endblock %}
