{% extends 'pagesbase.html' %}
{% block head %}
{{ super() }}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

<style>
.image-upload  input
{
    display: none;
}
.image-upload i
{
    //width: 80px;
    cursor: pointer;
}

.glyphicon-remove-circle
{
  cursor: pointer;
}
</style>

{% endblock %}

{% block body %}
<h1>Upload files</h1>
    <div><p id="alertMessage"></p></div>
    <p >{{message}}</p>
    <!--
    <div><input type='file' accept='*.xrslog|text/plain' id="file_upload" class="inputfile" enctype="multipart/form-data"></div>

    <div><input type='file' accept='*.xrslog|text/plain' id="resource_upload" class="inputfile" enctype="multipart/form-data"></div>
  -->
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-valuenow="70"
      aria-valuemin="0" aria-valuemax="100" style="width:0%">
        0%
      </div>
    </div>

    <div class="table-responsive">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>label</th>
            <th>logger</th>
            <th>resource</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>label</th>
            <th><div><input type='file' accept='*.xrslog|text/plain' id="file_upload" class="inputfile" enctype="multipart/form-data"></div></th>
            <th><div><input type='file' accept='*.xrslog|text/plain' id="resource_upload" class="inputfile" enctype="multipart/form-data"></div></th>
          </tr>
        </tbody>

      </table>
    </div>

    <div><p id="log"></p></div>

    {{ pagination.info }}
    {{ pagination.links }}
    <div class="table-responsive">
      <table class="table table-hover">
      <thead>
        <tr>
          <th>#</th>
          <th>dbid</th>
          <th>Image View Log</th>
          <th>HWInfo Log</th>
          <th>Workstation</th>
        </tr>
      </thead>
      <tbody>
        {% for page in pages %}
          <tr id ='{{page.dbid}}'>
            <td>{{ loop.index + (pagination.page-1)*pagination.per_page }}</td>
            <td>{{page.dbid}}</td>
            <td>
                <span class="image-upload">
                  <label for="file-{{page.dbid}}-1">
                  <i class="material-icons" style="font-size:18px">add_circle_outline</i>
                  </label>
                  <input id="file-{{page.dbid}}-1" type="file" dbid='{{page.dbid}}' postProcessFunc='load_NGLog'/>
                </span>
              {% if page.ivlog %}
                <a href="/api/pages/{{page.dbid}}"><i class="fa fa-table" style="font-size:36px;"></i></a>
                <span class="glyphicon glyphicon-remove-circle" style="font-size:18px;color:red" dbid='{{page.dbid}}' dbtype='NGLog'></span>
              {% else %}
                {{page.ivlog}}
              {% endif %}
            </td>
            <td>
              <span class="image-upload">
                <label for="file-{{page.dbid}}-2">
                <i class="material-icons" style="font-size:18px">add_circle_outline</i>
                </label>
                <input id="file-{{page.dbid}}-2" type="file" dbid='{{page.dbid}}' postProcessFunc='load_csvResource'/>
              </span>
            {% if page.hwlog %}
              <span class="glyphicon glyphicon-remove-circle" style="font-size:18px;color:red" dbid='{{page.dbid}}' dbtype='HWLog'></span>
            {% else %}
              {{page.hwlog}}
            {% endif %}

            </td>
            <td>{{page.machinename}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>
    {{ pagination.links }}
{% endblock %}

{% block js %}
$(document).ready(function(){

  ///////////////////////////////
  function generateAlert(msg, type="success"){
    var words = '<div class="alert alert-' + type  + ' alert-dismissible">' +
                '<button type="button" class="close" data-dismiss="alert">&times;</button> ' +
                 msg + '</div>';
          return words;
  }
  ///////////////////////////////
  var dbid = 0;

  $('.progress-bar').hide();
  var add = false;
  var namespace = '/test';
  // connect to the socket :
  var endPoint = "http" + (self.location.protocol == "https:" ? "s" : "") +
                 "://"  + document.domain + ':' + location.port + namespace;
  var socket   = io.connect(endPoint);

  socket.on('connect', function() {
      socket.emit('my event', {sid: socket.io.engine.id, data: 'I\'m connected! (' + socket.io.engine.id + ')'});
  });
  socket.on('disconnect', function() {
      $('#log').append('<br>Disconnected');
  });
  socket.on('my response', function(msg) {
      $('#log').append('<br>Message: ' + msg.data);
  });
  socket.on('alert message', function(msg) {
      $('#alertMessage').append(generateAlert(msg.data));
  });
  socket.on('upload completed', function(msg) {
      $('#alertMessage').append(generateAlert(msg.data));
  });

  socket.on('remove row', function(msg ) {
    $('#'+msg['dbid']).remove();
  });

 $('.glyphicon-remove-circle').on('click', function(){
    socket.emit('remove dbResource', {'dbid':   $(this).attr('dbid'),
                                      'dbtype': $(this).attr('dbtype')});
 });

  $(function () {
      //then load the JavaScript file
      $.getScript('/static/fileLoadtoServer.js', function(){
        $('#file_upload').on('change', {'postProcessFunc': 'load_NGLog', 'dbid': dbid, 'socket' : socket}, fileLoadtoServer);
        $('#resource_upload').on('change', {'postProcessFunc': 'load_csvResource', 'dbid': dbid, 'socket' : socket}, fileLoadtoServer);

        $('input').on('change',
                       function(evt){
                        // the above {} can't pass the value done to the inner function
                        // so reassign them here directly. \TODO CHECK JQuery.
                        // A: $(this) only become valid after event.
                        if (!$(this)[0].hasAttribute("dbid")){
                              console.log('do not have dbid');
                              return;
                            }

                        // populate the data
                        evt.data = { 'dbid': $(this).attr('dbid'),
                                     'postProcessFunc': $(this).attr('postProcessFunc'),
                                     'socket': socket};

                        fileLoadtoServer(evt);
                      });
        });
      });
});

{% endblock %}
